### upload all csv

In [2]:
from google.colab import files
uploaded = files.upload()

Saving covid-statistics-by-us-states-daily-updates3.csv to covid-statistics-by-us-states-daily-updates3.csv

### Combine into one csv

In [7]:
import pandas as pd
filenamePattern = "covid-statistics-by-us-states-daily-updates"
combined_csv = pd.concat([pd.read_csv(f"{filenamePattern}{i}.csv") for i in range(1, 4) ])
combined_csv.pop('hash')
combined_csv.drop(combined_csv.filter(regex="Unname"),axis=1, inplace=True)
combined_csv.drop(["commercialscore", "grade", "negativeregularscore", "negativescore", "positivescore", "score"],axis=1, inplace=True)
combined_csv = combined_csv.groupby(['state', 'date']).sum().groupby(level=0).cumsum().reset_index()
combined_csv.to_csv( "covid-combination.csv", index=False, encoding='utf-8-sig')
combined_csv

     state        date  ...  deathincrease  hospitalizedincrease
0       AK  2020-03-06  ...            0.0                   0.0
1       AK  2020-03-07  ...            0.0                   0.0
2       AK  2020-03-08  ...            0.0                   0.0
3       AK  2020-03-09  ...            0.0                   0.0
4       AK  2020-03-10  ...            0.0                   0.0
...    ...         ...  ...            ...                   ...
8188    WY  2020-07-25  ...           43.0                 288.0
8189    WY  2020-07-26  ...           43.0                 288.0
8190    WY  2020-07-27  ...           43.0                 288.0
8191    WY  2020-07-28  ...           44.0                 292.0
8192    WY  2020-07-29  ...           44.0                 295.0

[8193 rows x 29 columns]

### Show max and min positive test results

In [9]:
df = pd.read_csv("covid-combination.csv")
dfGroupedMaximus = df.groupby("state").max().reset_index()
positive = dfGroupedMaximus['positive']
max = (dfGroupedMaximus[dfGroupedMaximus.positive == dfGroupedMaximus.positive.max()])
print(f"max: {max.iloc[0].state}, {max.iloc[0].positive}")
min = (dfGroupedMaximus[dfGroupedMaximus.positive == dfGroupedMaximus.positive.min()])
print(f"min: {min.iloc[0].state}, {min.iloc[0].positive}")

max: NY, 60067324.0
min: AS, 0.0

### Show count, mean, std, median of the column “positive”

In [11]:
df = pd.read_csv("covid-combination.csv")
df = df.groupby("state").max()
positive = df['positive']
description = positive.describe()
print(f'count:   {description.count()}')
print(f'mean:    {description.mean()}')
print(f'median:  {description.median()}')
print(f'std:     {description.std()}')

count:   8
mean:    10419295.49261326
median:  3747462.8660714286
std:     20327723.275623124

### Show observation interval of the statistics in days

In [2]:
from datetime import datetime
import pandas as pd
df = pd.read_csv("covid-combination.csv")
startTime = datetime.strptime(min(df['date']), "%Y-%m-%d").date()
endTime = datetime.strptime(max(df['date']), "%Y-%m-%d").date()
print(f"distance: {(endTime - startTime).days}")

distance: 189

### Show the list of the ‘healthiest’ states

In [4]:
df = pd.read_csv("covid-combination.csv")
dfGroupedMaximus = df.groupby("state").max().reset_index()
dfGroupedMaximus = dfGroupedMaximus[dfGroupedMaximus['total'] != 0.0]
dfGroupedMaximus = dfGroupedMaximus.iloc[(dfGroupedMaximus.positive / dfGroupedMaximus.total).sort_values().index] 
print(dfGroupedMaximus.head(10))

   state        date  ...  deathincrease  hospitalizedincrease
3     AS  2020-07-29  ...            0.0                   0.0
27    MP  2020-07-29  ...            6.0                   4.0
0     AK  2020-07-29  ...           41.0                 120.0
13    HI  2020-07-29  ...           59.0                 317.0
29    MT  2020-07-29  ...           85.0                 337.0
54    WV  2020-07-29  ...          218.0                 494.0
51    VT  2020-07-29  ...          157.0                 150.0
12    GU  2020-07-29  ...           15.0                   0.0
31    ND  2020-07-29  ...          160.0                 572.0
35    NM  2020-07-29  ...         1006.0                4234.0

[10 rows x 29 columns]

### Add fake row

In [8]:
from random import *
from datetime import date
import numpy as np
df = pd.read_csv("covid-combination.csv")
randStateName = chr(randint(ord('A'), ord('Z'))) + chr(randint(ord('A'), ord('Z')))
dfGroupedMaximus = df.groupby("state").max().reset_index()
toAppend = {'state' : randStateName,
                'date' :  date.today().strftime("%Y-%m-%d")}
for columnName in dfGroupedMaximus.columns:
    if columnName == 'state' or columnName == 'date': continue

    maxValue = eval(f"dfGroupedMaximus[dfGroupedMaximus.{columnName} == dfGroupedMaximus.{columnName}.max()].iloc[0].{columnName}")
    minValue = eval(f"dfGroupedMaximus[dfGroupedMaximus.{columnName} == dfGroupedMaximus.{columnName}.min()].iloc[0].{columnName}")
    randValue = 0
    if isinstance(minValue, (np.int64)) or isinstance(maxValue, (np.int64)):
        randValue = randint(minValue, maxValue)
    elif isinstance(minValue, (float)) or isinstance(maxValue, (float)):
        randValue = np.random.uniform(minValue, maxValue)
    else:
        exit(-1)
    
    exec("toAppend.update({" + f'"{columnName}": {randValue}' + " })")
df = df.append(toAppend , 
                ignore_index=True)

# df.to_csv("covid-combination.csv", index=False, encoding='utf-8-sig')
df

     state        date  ...  deathincrease  hospitalizedincrease
0       AK  2020-03-06  ...       0.000000              0.000000
1       AK  2020-03-07  ...       0.000000              0.000000
2       AK  2020-03-08  ...       0.000000              0.000000
3       AK  2020-03-09  ...       0.000000              0.000000
4       AK  2020-03-10  ...       0.000000              0.000000
...    ...         ...  ...            ...                   ...
8189    WY  2020-07-26  ...      43.000000            288.000000
8190    WY  2020-07-27  ...      43.000000            288.000000
8191    WY  2020-07-28  ...      44.000000            292.000000
8192    WY  2020-07-29  ...      44.000000            295.000000
8193    VI  2021-05-18  ...   13511.484106           3320.049065

[8194 rows x 29 columns]